.DS_Store

*.o
*.tmp

Build/
Local/

Applications/Sources/*/**
Boot/Sources/*/**
BrowserEngine/Sources/*/**
BSD/Sources/*/**
CoreOS/Sources/*/**
CoreServices/Sources/*/**
DeveloperTools/Sources/*/**
Kernel/Sources/*/**
MediaServices/Sources/*/**
ServerServices/Sources/*/**
ThirdParty/Sources/*/**
Tools/*/**
UnixServices/Sources/*/**
